@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
body{
  background-color: #404040;
  color: #fff;
  font-family: 'Lato', sans-serif;
  -youbkit-touch-callout: none; /* iOS Safari */
  -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;        /* IE 10+ and Edge */
  user-select: none;            /* Non-prefixed version,
                              currently supported by Chrome and Opera */
}
header{
  font-family: 'Sniglet', cursive;
  font-size: 40px;
  text-align: center;
  padding-bottom:10px;
  padding-top:10px;
}
#pages{
  text-align: center;
}
.zoom{
  display: left;
  padding-left:40px;
}
#pdf-upload{
  padding-left:40px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.page{
  width: 60%;
  margin: 10px;
  box-shadow: 0px 0px 5px #000;
  animation: pageIn 1s ease;
  transition: all 1s ease, width 0.2s ease;
}
@keyframes pageIn{
0%{
  transform: translateX(-300px);
  opacity: 0;
}
100%{
  transform: translateX(0px);
  opacity: 1;
}
}
#zoom-in{
  
}
#zoom-percent{
  display: inline-block;
}
#zoom-percent::after{
  content: "%";
}
#zoom-out{
  
}
#submit{
  float: right;
  margin-top: 20px;
  margin-right: 40px;
  padding: 30px;
  overflow: hidden;

}
