<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>MST - Medical Summarizer Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="icon.png">

    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <meta name="theme-color" content="#fafafa">
</head>


<body >

    <!-- Add your site or application content here -->

    <header>MEDICAL REPORT SUMMARIZER</header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>

    <form id = "file_upload" action="" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" id="pdf-upload" accept="application/pdf"/>
        <input type="submit" id="submit" />
    </form>

    <div class="zoom">
        <button id="zoom-in">Zoom In</button>
        <div id="zoom-percent">60</div>
        <button id="zoom-out">Zoom Out</button>
        <button id="zoom-reset">Reset Zoom</button>
    </div>

    <div id="pages"></div>


    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>